*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f3f4f6;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    background:#fff;
    width:90%;
    max-width:450px;
    padding:25px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,.2);
}

h1,h2{
    text-align:center;
    margin-bottom:15px;
}

.balance{
    text-align:center;
    margin-bottom:20px;
}

.balance h1{
    color:#2563eb;
}

.form{
    display:flex;
    flex-direction:column;
    gap:10px;
}

input{
    padding:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

button{
    padding:12px;
    background:#2563eb;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#1d
